.signUpContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f22a2a;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999999;
}

.signUpWrapper{
    border-radius: 20px;
    width: 45vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signUpLeftSide{
    flex: 1;
    width: 50%;
    height: 100%;
}

.leftImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.signUpRightSide{
    margin: 0;
    flex: 1;
    background-color: #fff;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.signUpRightSide > h2{
    text-align: center;
    font-size: 36px;
    color: #f22a2a;
    margin-top: 2.5rem;
}

.signUpRightSide > .signUpForm{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2.5rem;
    flex-direction: column;
    gap: 32px;
}

.signUpForm > input{
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
    width: 50%;
    padding-left: 0.25rem;
    padding-bottom: 0.25rem;
    transition: 150ms all ease-in-out;
}

.signUpForm > input:focus{
    padding-left: 0.75rem;
}

.signUpForm > .submitBtn{
    margin-top: 2.5rem;
    outline: none;
    border: 1px solid transparent;
    padding: 0.5rem 1.5rem;
    background-color: #f22a2a;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.signUpForm > .submitBtn:hover{
    border-color: #f22a2a;
    color: #f22a2a;
    background-color: #fff;
}

.signUpForm > p{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signUpForm > p >a{
    text-decoration: none;
    font-size: 17px;
    color: #888;
    margin-top: 0.25rem;
}

.errorMessage{
    height: 70px;
    width: 250px;
    text-align: center;
    border-radius: 20px;
    line-height: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #f00;
    color: #fff;
    position: absolute;
    top: 5rem;
    right: 5rem;
}